body {
	background-color: RGBA(0,0,0,0);
	padding:0;
	margin:0;
    overflow: hidden;
}

#playerlist {
    border: solid 0.1em #3FCD59;
    margin-top: 5px;
	visibility:hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
	color:white;
	position:relative;
	min-width:500px;
	width: auto;
	margin-left:auto;
	margin-right:auto;
	max-height:1080px;
	padding: 1px;
}

#playerlist .titles {
	background-color: rgba(6, 7, 8, 0.568);
	margin-bottom:0px;
}

#playerlist .player {
	background-color: rgba(0,0,0,0.8);
}
#playerlist .name {
	text-align:left;
}
#playerlist .player {
    font-size: 1em;
    font-weight: 600;
}
#playerlist .id {
	min-width:15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
#playerlist .player .id, #playerlist .player .time {
    text-align: right;
}
#playerlist .player .title {
    font-style: italic;
}
#playerlist .titles .title {
    text-align: center;
}