body {
    background-color: transparent !important;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20%;
    position: absolute;
    left: 80%;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 15px;
    width: fit-content;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.success {
    background: rgb(114, 204, 114);
    color: #fff;
}

.inform {
    background-color: rgb(47, 92, 115);
    color: #ffffff;
}

.error {
    background: rgb(224, 50, 50);
    color: #fff;
}

.blue {
    background: rgb(0, 119, 255);
    color: #fff;
}