@font-face {
    font-family: gta;
    src: url(../fonts/pricedown/pricedown.ttf);
}

.limiter {
    width: 100%;
}

body,
.container-table100 {
    background-color: transparent;
}

.wrap-table100 {
    width: 600px;
    height: auto;
    position: fixed;
    top: 0px;
    margin-top: 10px;

    left: 50%;
    margin-left: -300px;
}

.tab {
    overflow: hidden;
    background-color: #222222;
    height: 42px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px 16px;
    transition: 0.3s;
    font-size: 25px;
    font-family: gta;
    color: #cccccc;
}

.tab button:hover {
    background-color: #444;
}

.tab button.active {
    background-color: #444;
}

p {
    font-family: Lato-Regular;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    color: #c7c6c6;
    line-height: 1.4;
    background-color: #222222;
}